ul.nav .client_login a  {
		color: #007ef3;
		border: 2px solid #007ef3;
		border-radius: 30px;
}
ul.nav .client_login a:hover, ul.nav .tester a:focus  {
		color: #007ef3;
		border: 2px solid #007ef3;
		border-radius: 30px;
		background: transparent;
}
.faq_headline {
	margin: 2em auto 1em;
	color: #767676;
}
.faq_description .faq_img {
	display: block;
	height: 200px;
	width: auto;
	margin: 1em auto;
}
.faq_description {
	font-family: 'Gotham Rounded';
	font-weight: 300;
	text-align: right;
}
.faq_title {
	text-align: center;
	margin-bottom: 0.5em;
	color: #767676;
}
.faq_p {
	text-align: justify;
	padding: 0 30px;
}
#faq {
	margin-top: 2em;
}
.panel-title {
  font-weight: 300;
}
.panel-body {
  font-weight: 300;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    text-align: left;
}
.panel-title > a {
    text-decoration: none;
    color: #767676;
}
.faq_subline {
  color: #767676;
}
.panel-heading {
    cursor: pointer;
}
@media screen and (max-width: 768px) {
  #faq {
    background: #ebebeb;
    margin-top: 3.3em;
  }
	.faq_headline {
		font-size: 24px;
		margin: 1em auto 1em;
	}
	.faq_title {
		font-size: 18px;
		text-align: center;
	}
	.faq_p {
		text-align: center;
		padding: 0 10px;
	}
  .panel-title {
    font-size: 16px;
  }
  .panel-body {
    font-size: 14px;
  }
}
